<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Offline</title>
</head>
<body>
    <br><br>
  
    <form method = "post" action = "/Home/Offline">
    <input type="hidden" name="Sender" value="4">
    <input type = "submit" placeholder = "Show as Offline"/>
    </form>

</body>
</html>